* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #F7F7F7;
}
*::selection {
    background-color: black;
    color: white;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}
#cursor {
    height: 170px;
    width: 170px;
    background-color: rgba(253, 217, 217, 0.393);
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0vw 1.4vw;
    padding-top: 25vh;
}

#page1 h1 {
    overflow: hidden;
}

#page1 h1 span {
    font-size: 16vw;
    line-height: 15vw;
    letter-spacing: -5px;
    font-family: futura;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
}

.video-container {
    height: 100vh;
    width: 100%;
    background-color: black;
    margin-top: 1vw;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container #play {
    padding: 3vw 2.3vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    /* position: fixed; */
    position: absolute;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 100px;
    opacity: 0;
    scale: 0;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 1.4vw;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#page2 .elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 50px;
    width: 70%;
    border-radius: 50px;
    background-color: pink;
    position: absolute;
    z-index: 99;
}

#page3 {
    width: 100%;
    min-height: 120vh;
    padding: 2vw 1.4vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.child {
    height: 80vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.child img {
    height: 100%;
}

@media (max-width:600px) {
    #nav {
        padding: 10px 25px;
    }
    
    #links {
        display: none;
    }
    
    #icons {
        display: flex;
    }
    

    #page1 {
        min-height: 70vh;
        padding: 0vw 2vw;
        padding-top: 25vh;
    }

    #page1 h1 span {
        font-size: 16vw;
        line-height: 13vw;
        letter-spacing: -4px;
    }

    .video-container {
        height: 25vh;
        margin-top: 2vw;
    }

    .video-container #play {
        padding: 7.5vw 5.2vw;
        font-size: 4vw;
        opacity: 1;
        scale: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding: 5vw 2vw;
    }

    #page2 .elem {
        width: 100%;
        height: 100vh;
    }
    #page3 {
        min-height: 100vh;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .child {
        height: 50vh;
        width: 100%;
    }
    
    .child img {
        height: 90%;
    }
}